@font-face {
    font-family: "Roboto-VF";
    font-weight: 100 900;
    font-stretch: 75% 100%;
    src: url("Roboto[ital\,wdth\,wght].ttf") format("truetype-variations");
}

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-stretch: 100%;
    font-style: normal;
    src: url("Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-stretch: 100%;
    font-style: italic;
    src: url("Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-stretch: 100%;
    font-style: normal;
    src: url("Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-stretch: 100%;
    font-style: italic;
    src: url("Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-stretch: 100%;
    font-style: normal;
    src: url("Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-stretch: 100%;
    font-style: italic;
    src: url("Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-stretch: 100%;
    font-style: normal;
    src: url("Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-stretch: 100%;
    font-style: italic;
    src: url("Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-stretch: 100%;
    font-style: normal;
    src: url("Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-stretch: 100%;
    font-style: italic;
    src: url("Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-stretch: 100%;
    font-style: normal;
    src: url("Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-stretch: 100%;
    font-style: italic;
    src: url("Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-stretch: 100%;
    font-style: normal;
    src: url("RobotoCondensed-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-stretch: 100%;
    font-style: italic;
    src: url("RobotoCondensed-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-stretch: 100%;
    font-style: normal;
    src: url("RobotoCondensed-Regular.ttf") format("truetype"); 
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-stretch: 100%;
    font-style: italic;
    src: url("RobotoCondensed-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 500;
    font-stretch: 100%;
    font-style: normal;
    src: url("RobotoCondensed-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 500;
    font-stretch: 100%;
    font-style: italic;
    src: url("RobotoCondensed-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-stretch: 100%;
    font-style: normal;
    src: url("RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-stretch: 100%;
    font-style: italic;
    src: url("RobotoCondensed-BoldItalic.ttf") format("truetype");
}