@font-face {
    font-family: "Liberation Sans";
    font-weight: 400;
    font-style: normal;
    src: url(LiberationSans-Regular.ttf);
}

@font-face {
    font-family: "Liberation Sans";
    font-weight: 400;
    font-style: normal;
    src: url(LiberationSans-Italic.ttf);
}

@font-face {
    font-family: "Liberation Sans";
    font-weight: 700;
    font-style: normal;
    src: url(LiberationSans-Bold.ttf);
}

@font-face {
    font-family: "Liberation Sans";
    font-weight: 700;
    font-style: italic;
    src: url(LiberationSans-BoldItalic.ttf);
}
